html, body{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

body {
    background-color: #0c0c0c;
    background-image: linear-gradient(#0c0c0c,#0c0c0c, rgb(2, 7, 12));
    background-attachment: fixed;
    --darkModeTextColor: #e3e3e3;
    color: var(--darkModeTextColor);
}

body.space {
    background: linear-gradient(#0c0c0c,#635151, rgb(3 11 18)) rgb(3 11 18);
    background-size: 100% 82%;
    background-repeat: no-repeat;
}

#tournament_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section_minimized {
    display: none !important;
}

.tournament_delimiter{
    display: flex;
    text-align: center;
    height: 2em;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tournament_delimiter input {
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 2px 12px 2px 12px;
    background-color: #1e1e1e;
    color: var(--darkModeTextColor);
    border: 2px solid rgb(255 255 255 / 15%);
    border-radius: 8px;
}

.tournament_delimiter hr{
    margin: 0;
    width: calc(100% - 2px);
    position: absolute;
    z-index: -1;
}

.tournament_legend{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

.tournament_legend_content {
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.tournament_legend_content .rounds_settings{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tournament_legend_content div.round_setting{
    width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.tournament_legend_content div.round_setting p{
    max-width: 80%;
    width: fit-content;
}

.grid{
    background-color: #2c2c2c;
    min-height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.grid svg{
    display: block;
}

.viewport::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.viewport::-webkit-scrollbar-thumb{
    background: #41c9ff;
    transition: 0.1s;
    border-radius: 8px;
}
.viewport::-webkit-scrollbar-track {
    background: white;
}
.viewport::-webkit-scrollbar-thumb:hover {
  background: #12a2db;
}

.match{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    row-gap: 50px;
    margin-left: 20px;
    user-select: none;
    position: absolute;
    z-index: 1;
    border: 1px solid rgb(0 133 255 / 50%);
    box-sizing: border-box;
}
.match span:first-of-type{
    /*margin-top: 25px;*/
}
.match div{
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-between;
}
.match p{
    margin: 0;
}

.tournament_subdivision {
    display: flex;
    flex-direction: column;
}

.tournament_subdivision.fullscreen {
    flex-grow: 1;
}
body.space .tournament_subdivision.fullscreen::backdrop {
    background: linear-gradient(#0c0c0c,#635151, rgb(3 11 18)) rgb(3 11 18);
    background-size: 100% 47%;
}
.tournament_subdivision.fullscreen .viewport{
    flex-grow: 1;
    resize: none;
}
.tournament_subdivision.fullscreen .add_round_column{
    height: calc(100dvh - 3.5em - 117px);
}

.none {
    display: none;
}

.viewport{
    display: grid;
    overflow: auto;
    resize: vertical;
    max-height: 100dvh;
    min-height: 800px;
    height: 800px;
    position: relative;
}
body.space .viewport{
    box-shadow: 0px 10px 20px 0px rgba(0, 86, 179,0.52);
}

.round_column{
    width: 350px;
    height: 100%;
    position: relative;
}

.round_column[data-round="1"] .match .left_connecting_dot {
    display: none;
}

.matches {
    min-height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

.matches .round_column:nth-last-child(2) .match .right_connecting_dot {
    display: none;
}

.add_round_column {
    width: 125px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*make is stay in place*/
    position: sticky;
    top: 0;
}
.add_round_button {
    width: 50px;
    height: 300px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 3px solid #e1e1e1;
    cursor: pointer;
}

span.right_connecting_dot {
    padding: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #41c9ff;
    border-radius: 50%;
    top: calc(50% - 10px);
    right: -10px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}
span.left_connecting_dot {
    padding: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #41c9ff;
    border-radius: 50%;
    top: calc(50% - 10px);
    left: -10px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

span.connecting_dot_active {
    box-shadow: inset 0 0 5px 0px #9ecaed, 0 0 10px 2px #9ecaed;
}

.connectorGrid {
    position: absolute;
    width: 0;
    height: 0;
 }

.connectorGrid svg{
   position: absolute;
   /*background: green;*/
   pointer-events: none;
   min-width: 50px;
}


.connectorGrid svg line {
    stroke: black;
    stroke-width: 2px;
}

.connectorGrid svg path[id^=connector] ,  .connectorGrid svg path#tmpConnector{
    stroke: #e1e1e1;
    stroke-width: 2px;
    fill: none;
    cursor: pointer;
    pointer-events: stroke;
    
}

.connectorGrid svg path[id^=connector].connector_selected {
    stroke: blue;
}
.connectorGrid svg:has(path[id^=connector].connector_selected) {
    z-index: 100;
}

/*#match_selected_border {
    width: 308px;
    height: 158px;
    position: absolute;

    background-image: url("data:image/svg+xml,%3csvg width='308px' height='158px' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='304px' height='154px' x='2px' y='2px' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='6' rx='10px' ry='10px' stroke-linejoin='round' stroke-dashoffset='8' stroke-linecap='round'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    bottom: -4px;
    left: -4px;
}*/

.match_selected svg{
    width: 308px;
    height: 158px;
    position: absolute;
    top: -5px;
    left: -5px;
    pointer-events: none;
}
.match.match_selected{
    border: 1px solid transparent;
}

@keyframes selected_match_border_animation {
    0%   {stroke-dashoffset: 0;}
    100%   {stroke-dashoffset: 12;}

}

.match_selected svg rect{
    width: 304px;
    height: 154px;
    fill: none;
    stroke: #41c9ff;
    stroke-width: 2;
    stroke-dasharray: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    animation-name: selected_match_border_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


.section_toolbar {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 2;
    display: flex;
    gap: 1em;
    flex-direction: row-reverse;
}
.section_toolbar img{
    height: 2em;
    width: 2em;
    cursor: pointer;
    filter: invert(100%);
}


.legend_round_name {
    width: 300px;
    height: 30px;
    text-align: center;
    outline: 0;
    padding: 2px 12px 2px 12px;
    border: none;
    background-color: #1e1e1e;
    color: var(--darkModeTextColor);
    border: 2px solid rgb(255 255 255 / 15%);
    border-radius: 8px;
}

.legend_round_name:focus, .legend_round_name:hover, .tournament_delimiter input:focus, .tournament_delimiter input:hover {
    border-color: rgb(0 133 255 / 50%);
    outline: 3px solid rgb(0 133 255 / 20%);
    color: white;
}

.round_delete_button {
    display: inline;
}
.round_delete_button {
    width: 1.5em;
    height: 1.5em;
    filter: invert(1);
    vertical-align: middle;
    cursor: pointer;
}

.round_grid_snap {
    width: 150px;
}




/* Styling the section and container */
#tournament_toolbar {
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

#add_matches_containter {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
}

/* Styling the text input */
#matches_number {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px;
}

/* Styling the datalist options */
datalist option {
    background-color: #2c2c2c;
    color: #e0e0e0;
}

/* Styling the select dropdowns */
select {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px;
}

/* Styling the button */
#add_matches_buttoon {
    background-color: #007bff;
    color: #e0e0e0;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add_matches_buttoon:hover {
    background-color: #0056b3;
}